*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    padding: 10px 20px;
}

ul{
    display: flex;
    gap: 2rem;
    list-style: none;
}
a{
    text-decoration: none;
}
.logo{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.navbtn{
    font-size: 1rem;
    border: none;
    font-weight: bold;
    margin-left: 10px;
}
.navgt{
    font-size: 1rem;
    background-color: purple;
    border-radius: 20%;
    padding: 1em 2em;
}
button{
    all: unset;
}
nav a{
    color: black;
}
.mainbox{
    background-color: gold;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    height: 550px;
}
.images{
    width: 400px;
}
h1{
    font-size: 4rem;
}
.buttontff{
    border: 3px solid purple;
    font-size: 1rem;
    background-color: purple;
    padding: 1em 1em;
}
.buttoncs{
    border: 1px solid purple;
    font-size: 1rem;
    padding: 1.1em 1em;
}
.slackone{
    margin-top: 50px;
    margin-right: 50px ;
    margin-left: 50px;
}
.slacktwo{
    margin-right: 50px ;
    margin-left: 50px;

}

p{
    font-size: larger;
}